.config-key {
    font-weight: bold;
    margin-bottom: 0;
}

.config-value {
    margin-left: 20px;
}

textarea.form-control {
    height: auto;
}

.clickable {
    cursor: pointer;
}

.config-header {
    padding: 10px;
}

.card {
    transition: background-color 0.3s;
    position: relative;
}

.card:hover {
    background-color: #f8f9fa;
}

.card:hover > .card {
    background-color: transparent;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:hover > .card {
    box-shadow: none;
}

.btn-delete {
    margin-top: -10px;
    margin-right: -10px;
}

.btn-block {
    width: 80%;
    margin: auto;
}

.add-new-container {
    text-align: center;
    cursor: pointer;
    background-color: #f0f0f0;
}

.add-new-container .plus-sign {
    font-size: 24px;
    color: #28a745;
}

.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}

.modal-card input, .modal-card select {
    width: 80%;
    margin: auto;
}

.modal-card h5 {
    margin-bottom: 20px;
}

.buttons-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn-save-config, .btn-cancel-config {
    width: 200%;
    margin: 5px;
    font-size: 150%;
    padding: 10px 20px;
}

.btn-save-config {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-cancel-config {
    background-color: #dc3545;
    color: white;
    border: none;
    cursor: pointer;
}

.btn-start-process {
    width: 13%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    font-size: 2rem;
    padding: 15px 30px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.tab {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1000;
}

.tab button {
    display: block;
    background-color: #f8f8f8;
    color: black;
    padding: 10px 20px;
    width: 200px;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 5px;
}

.tab button:hover {
    background-color: #ddd;
}

.tab button.active {
    background-color: #666;
    color: white;
}

#Main h1 {
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#Main h1 span {
    color: #dc3545;
    font-weight: 900;
}

#Config h1 {
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
    margin-bottom: 20px;
}
